*{
    border: 0;
    padding: 0;
}
.logo{
    width: 200px;
}
.head-section{
    background-color:rgba(255, 251, 240, 1);
}
.penguin-navbar{
    background-color: 0;
}
h1{
    font-family: 'Bebas Neue', cursive;
}
#text-style{
    color: rgb(250, 99, 76);
    font-size: 100px;
}
.text-style2{
    font-size: 40px;
}
.penguin-catagory, .text-style2{
    color: rgba(54, 57, 88, 1);
}
.penguin-card-img{
    padding: 5%;
    background-color: rgba(241, 241, 241, 1);
    margin: 4% auto; 
}
.penguin-info{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
.penguin-card-border, .penguin-card-img{
    border-radius: 1em;
}
.price-text-style{
    color: rgba(250, 190, 76, 1);
    font-weight: bold;
}
.penguin-card-footer, .penguin-card-border{
    background-color: white;
    border: 0;
}
.butn{
    background-color: rgb(70, 137, 188);
    color: rgb(241, 241, 241);
}
.footer-section{
    background-color: hsla(72, 47%, 51%, 0.486);
    padding: 3% 1% 1% 1%;
}

img{
    height: 250px;
    width: 300px;
    object-fit: cover;
    border-radius: 10px;
}